<header>
    <div class="jumbotron jumbotron-fluid">

        <div class="container">
            <h1 class="displasy-4">Shopp App</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nisi!</p>
        </div>
    </div>


</header>