@model Product                        
<div class="card">
                            <img src="https://productimages.hepsiburada.net/s/119/1500/110000068435183.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Name</h5>
                                <p class="card-text">@Model.Description</p>
                                <a href="" class="btn btn-primary">Incele</a>
                            </div>
                        </div>
